@import url('https://fonts.googleapis.com/css?family=Inria+Serif:300i,400,700&display=swap');

body{
  background: #010D00;
  color: #ccc;
  font-family: Arial, sans-serif;
}

a{
  color: #aaa;
  text-decoration: none;
}

a:hover{
  color: #fff;
  text-decoration: underline;
}

::selection{
  background: #833BFF;
}

header{
  padding: 5em 0;
}

header h1{
  color: #ffffff;
  text-align: center;
  font-family: 'Helvetica';
  font-size: 3.5em;
  font-weight: 100;
  line-height: 1.5em;
  margin: 0;
}

header span{
  display: block;
  text-align: center;
}

#quote{
  text-align: center;
  font-family: 'Inria Serif', serif;
  font-style: italic;
  font-size: 1.35em;
  max-width: 620px;
  margin: 0 auto;
  padding: 2em 0;
  padding-bottom: 4em;
}

.social{
  margin: 0;
  text-align: center;
}

.social li{
  display: inline-block;
  margin: 0 1em;
  padding: 1.5em 0;
}

.social li a{
  color: #cccccc;
  display: block;
  font-size: 2em;
  min-width: 1.4em;
  text-align: center;
}

.social li a:hover{
  color: #fff;
}

footer{
  margin-top: 3em;
  text-align: center;
}

footer ul{
  padding: 0;
}

footer ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

footer ul li a{
  font-size: .9em;
}

#quotes{
  /*border: 1px solid #00adef;*/
  margin: 0 auto;
  margin-top: 2em;
  max-width: 920px;
}

#quotes h1{
  font-family: 'Inria Serif', serif;
  text-align: center;
}

#quotes blockquote{
  border-left: 5px solid #d0d0d0;
  padding: 1em;
  padding-left: 1.5em;
  margin: 2em 1em;
}

#quotes blockquote:hover{
  background: #2C2C2C;
  color: #fff;
}

#quotes blockquote p{
  font-size: 1.4rem;
  font-family: 'Inria Serif', serif;
  /*font-weight: 400;*/
  font-style: italic;
  /*text-align: justify;*/
  margin: 0;
}

#quotes blockquote span{
  display: block;
  font-family: 'Inria Serif', serif;
  font-size: 1.2em;
  margin-top: 1em;
  font-style: italic;
  text-align: right;
}

