body{
  background: #010D00;
  color: #ccc;
  font-family: Arial, sans-serif;
}

a{
  color: #aaa;
  text-decoration: none;
}

a:hover{
  color: #fff;
  text-decoration: underline;
}

::selection{
  background: #833BFF;
}

header{
  padding: 10em 0;
}

header h1{
  text-align: center;
  font-family: 'Helvetica';
  font-size: 3.5em;
  font-weight: 100;
  line-height: 1.5em;
  margin: 0;
}

header span{
  display: block;
  text-align: center;
}

.social{
  margin: 0;
  text-align: center;
}

.social li{
  display: inline-block;
  margin: 0 1em;
  padding: 1.5em 0;
}

.social li a{
  color: #cccccc;
  display: block;
  font-size: 2em;
  min-width: 1.4em;
  text-align: center;
}

.social li a:hover{
  color: #fff;
}

footer{
  margin-top: 3em;
  text-align: center;
}

footer ul{
  padding: 0;
}

footer ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

footer ul li a{
  font-size: .9em;
}
