body{
  background: #fdfdfd;
  font-family: Arial, sans-serif;
}

/* Links */

a{
  color: #333;
  text-decoration: none;
}

a:hover{
  color: #000;
  text-decoration: underline;
}

/* Headers */

h2{
  border-bottom: 1px solid #efefef;
  font-weight: 100;
  font-size: 1.1em;
  text-transform: uppercase;
}

::selection{
  background: #A9DAFF;
}

/* Main Content */

#main-content{
  margin: 0 auto;
  max-width: 600px;
}

header h1{
  text-align: center;
  font-family: 'Helvetica';
  font-weight: 100;
}

#main-content article{
  margin-bottom: 3em;
  position: relative;
}

#main-content p{
  line-height: 1.5em;
}

#main-content .social{
  margin: 0;
  text-align: center;
}

#main-content .social li{
  display: inline-block;
  margin: 0 1em;
  padding: 1.5em 0;
}

#main-content .social li a{
  color: #777;
  display: block;
  font-size: 2em;
  min-width: 1.4em;
  text-align: center;
}

#main-content .social li a:hover{
  color: #000;
}

/* Footer */

footer{
  border-top: 1px solid #dfdfdf;
  margin-top: 3em;
  text-align: center;
}

footer ul{
  padding: 0;
}

footer ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

footer ul li a{
  font-size: .9em;
}
